<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Message Forum</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			* {
			box-sizing: border-box;
			}

			body {
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
			}

			.sidenav {
			height: 100%;
			width: 450px;
			padding-left: 20px;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgb(57, 122, 216);
			
			}

			.content {
			margin-left: 450px;
			padding-left: 40px;
			}
			</style>
	</head>
	
	<body>
		
			<div class="sidenav">
				
				<h2>Create a post</h2>
				<form action="/messages" method=post>
					<p class="heading">Username: <input type=text name=name>
					<p class="heading">Message:
					<textarea rows=10 cols=50 name=message style="resize: none;"></textarea></p>
					<p><input type=submit value="Post"></p>
				</form>
				<br><br>
				
			</div>

			<div class="content">
				<h2>Forum:</h2>
				{% for message in messages %}
					<p class=message>
						<b>{{ message.name }}</b>
						<br><br>
						{{ message.message }}
						<form action="/delete/{{ message.id }}" method=get>
							<input type=submit value="Delete">
						</form>
					</p>
				<hr>
				
				{% endfor %}
			</div>
			
		
	</body>
</html>
